<ul class="list-group">
  <li *ngIf="!solutions" class="list-group-item list-group-item-info">
    <i class="fa fa-spinner fa-pulse m-2"></i>
    <span>Загрузка...</span>
  </li>
  <li *ngIf="solutions && !solutions.length" class="list-group-item">
    Опубликованные решения отсутствуют
  </li>
  <li *ngFor="let solution of solutions" class="list-group-item">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <h5>
          <app-solution-status-view [status]="solution.status" class="mr-2"></app-solution-status-view>
          <a [routerLink]="['/solutions', solution.id]" title="Посмотреть">
            <span *ngIf="solution.comment.length <= 40">
              {{solution.comment}}
            </span>
            <span *ngIf="solution.comment.length > 40">
              {{solution.comment | slice:0:37}}...
            </span>
          </a>
        </h5>
        <div *ngIf="solution.author">
          <app-user-link [user]="solution.author"></app-user-link>
        </div>
        <div *ngIf="solution.challenge">
          <a [routerLink]="['/challenges', solution.challenge.id]">{{solution.challenge.name}}: </a>
          <small class="text-muted ml-1">
            <span *ngIf="solution.challenge.name.length + solution.challenge.shortDescription.length <= 80">
              {{solution.challenge.shortDescription}}
            </span>
            <span *ngIf="solution.challenge.name.length + solution.challenge.shortDescription.length > 80">
              {{solution.challenge.shortDescription | slice:0:77-solution.challenge.name.length}}...
            </span>
          </small>
        </div>
      </div>
      <div class="text-right">
        <h5 [class.text-primary]="solution.liked">
          <span>{{solution.rating}} </span>
          <i class="fa fa-thumbs-up"></i>
        </h5>
        <div class="text-muted small mt-2">
          <i class="fa fa-clock-o m-1"></i>
          <span>{{solution.created | date: 'shortTime'}} </span>
        </div>
        <div class="text-muted small">
          <i class="fa fa-calendar m-1"></i>
          <span>{{solution.created | date: 'mediumDate' | slice:0:12}} </span>
        </div>
      </div>
    </div>
  </li >
</ul>
