<div class="jumbotron" *ngIf="article">
  <h1 class="display-3">{{article.name}}</h1>
  <p class="lead">{{article.description}}</p>
  <div class="lead" *ngIf="article.tags">
    <span *ngFor="let tag of article.tags"
          class="badge badge-default mr-1">{{tag}}</span>
    <i class="fa fa-tags m-1 text-muted"></i>
  </div>
</div>
<div class="jumbotron" *ngIf="!article">
  <h1 class="display-3 text-center">
    <i class="fa fa-spinner fa-pulse"></i>
    <span> Загрузка...</span>
  </h1>
</div>
<div *ngIf="article" [innerHTML]="article.body">
</div>
