<div [hidden]="items" class="alert alert-info lead text-center p-3">
  <i class="fa fa-spinner fa-pulse"></i>
  <span> Загрузка...</span>
</div>
<div [hidden]="!items || items.length" class="alert alert-warning lead text-center p-3">
  <span> Подборок не найдено</span>
</div>
<div class="card mb-2" *ngFor="let challengeList of items">
  <div class="card-header">
    <div class="pull-right m-1">
      <app-user-link [user]="challengeList.author"></app-user-link>
    </div>
    <h3><a [routerLink]="['/challenge-lists', challengeList.id]">{{challengeList.name}}</a></h3>
  </div>
  <div class="card-block">
    <div class="pull-right text-right">
      <h5 [class.text-primary]="challengeList.liked"  class="mb-auto">
        {{challengeList.rating}}
        <i class="fa fa-thumbs-up"></i>
      </h5>
      <div class="small text-muted mt-3" title="Дата Создания">
        <i class="fa fa-calendar m-1"></i>
        <span> {{challengeList.created | date: "mediumDate"}}</span>
      </div>
    </div>
    <p>{{challengeList.description}}</p>
    <span *ngFor="let c of challengeList.challenges | slice:0:3; let i = index">
      <span *ngIf="i > 0">, </span>
      <a [routerLink]="['/challenges',c.id]">{{c.name}}</a>
    </span>
    <span *ngIf="challengeList.challenges.length == 4">
      <span>, </span>
      <a [routerLink]="['/challenges', challengeList.challenges[3].id]">{{challengeList.challenges[3].name}}</a>
    </span>
    <span *ngIf="challengeList.challenges.length > 4"> и {{challengeList.challenges.length - 3}} других...</span>
  </div>
</div>
