<button type="button"
        [class.active]="initDifficulty || initRating"
        (click)="ratingModal.show()"
        class="btn btn-outline-warning btn-block">
  <i class="fa fa-star"></i>
  <span> Оценить</span>
</button>
<div bsModal #ratingModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Ваша оценка</h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-6">Рейтинг</label>
          <div class="col-6">
            <rating [(ngModel)]="rating" [max]="5"
                    stateOn="fa fa-lg fa-star text-warning"
                    stateOff="fa fa-lg fa-star text-muted">
            </rating>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6">Сложность</label>
          <div class="col-6">
            <rating [(ngModel)]="difficulty" [max]="5"
                    stateOn="fa fa-lg fa-asterisk text-primary"
                    stateOff="fa fa-lg fa-asterisk text-muted">
            </rating>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!rating || !difficulty"
                class="btn btn-primary btn-sm"
                (click)="submit()">
          Сохранить оценку
        </button>
        <button class="btn btn-secondary btn-sm" (click)="close()">
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>
