<div class="card mb-2" *ngFor="let playlist of items">
  <div class="card-header">
    <div class="pull-right m-1">
      <a [routerLink]="'/users/' + playlist.author">{{playlist.author}} </a>
      <i class="fa fa-user"></i>
    </div>
    <h3><a [routerLink]="['/playlists', playlist.id]">{{playlist.name}}</a></h3>
  </div>
  <div class="card-block">
    <p>{{playlist.description}}</p>
    <span *ngFor="let c of playlist.challenges | slice:0:3; let i = index">
      <span *ngIf="i > 0">, </span>
      <a [routerLink]="['/challenges',c.id]">{{c.name}}</a>
    </span>
    <span *ngIf="playlist.challenges.length == 4">
      <span>, </span>
      <a [routerLink]="['/challenges', playlist.challenges[3].id]">{{playlist.challenges[3].name}}</a>
    </span>
    <span *ngIf="playlist.challenges.length > 4"> и {{playlist.challenges.length - 3}} других...</span>
  </div>
</div>
