<form (ngSubmit)="onSubmit()" #createChallengeListForm="ngForm" novalidate>

  <div class="jumbotron">
    <h1 class="display-3">Создать подборку</h1>
    <p class="lead">На этой странице Вы можете объединить несколько задач в одну подборку</p>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control"
               id="name" name="name" #name="ngModel" [(ngModel)]="challengeList.name"
               required minlength="4" maxlength="50" pattern="[a-zA-Zа-яА-Я0-9\-._ ]+">
        <div *ngIf="name.errors && (name.dirty || name.touched)"
             class="text-danger">
          <div [hidden]="!name.errors['required']">Укажите название задачи</div>
          <div [hidden]="!name.errors['minlength']">Слишком короткое название</div>
          <div [hidden]="!name.errors['pattern']">Название содержит недопустимые символы</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control"
                  id="description" name="description" #description="ngModel" [(ngModel)]="challengeList.description"
                  required minlength="20" maxlength="200"></textarea>
        <div *ngIf="description.errors && (description.dirty || description.touched)"
             class="text-danger">
          <div [hidden]="!description.errors['required']">Напишите краткое описание задачи</div>
          <div [hidden]="!description.errors['minlength']">Слишком короткое описание</div>
        </div>
      </div>

      <div class="form-group">
        <label>Задачи</label>
        <app-challenge-picker [(challenges)]="challengeList.challenges"></app-challenge-picker>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-question"></i>
          <span> Помощь</span>
        </div>
        <div class="card-block text-justify">
          <p>
            Выберите для своей подборки говорящее название.
            И добавьте немного информации в описании (20-200 символов).
          </p>
          <p>
            В подборке должно быть как минимум 3 задачи.
            И будьте внимательны к порядку задач, он сохранится.
            Менять порядок можно с помощью Drag & Drop.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-lg btn-success mb-3"
            [title]="createChallengeListForm.form.valid ? '' : 'Параметры не заполнены или заполнены неправильно'"
            [disabled]="!createChallengeListForm.form.valid || challengeList.challenges < 3 || submitted">
      <i class="fa fa-plus"> </i>
      <span> Создать подборку</span>
    </button>
  </div>
</form>
