<div class="jumbotron">
  <h1 class="display-3">
    <svg width="64" height="70" viewBox="-10 -10 110 110" class="logo" style="margin-bottom: -5px">
      <polygon points="7,24 50,0 93,24 50,50" class="top"></polygon>
      <polygon points="50,50 93,24 93,76 50,100" class="right"></polygon>
      <polygon points="7,24 50,50 50,100 7,76" class="left"></polygon>
      <polygon points="7,24 50,0 93,24 93,76 50,100 7,76"
               fill="none"
               stroke="#292b2c"
               stroke-linecap="round"
               stroke-width="4">
      </polygon>
    </svg>
    <span>Foo Bar Baz</span>
  </h1>
  <div class="lead">
    Приветствуем Вас в сетевом сообществе любителей программирования!
  </div>
</div>

<div class="row mb-3">
  <div class="col-7 text-justify d-flex flex-column justify-content-between">
    <h2>Задачи</h2>
    <div>
      <p>На нашем сайте Вы можете решать <strong>задачи</strong> по программированию на языке <strong>Java</strong>.</p>
      <p>
        В <a [routerLink]="'/challenges'">архиве</a> есть множество задач. Найдите задачу, что вам по душе, и решите её!
        Не останавливайтесь на одной задаче, попробуйте решить как можно больше!
      </p>
    </div>
    <div>
      <a [routerLink]="'/challenges'" class="btn btn-primary">
        <i class="fa fa-database"></i>
        Архив задач
      </a>
      <a [routerLink]="'/challenges/create'" class="btn btn-success">
        <i class="fa fa-plus"></i>
        Создать задачу
      </a>
    </div>
  </div>
  <div class="col-5">
    <app-random-challenge></app-random-challenge>
  </div>
</div>
<hr/>
<div class="row my-3">
  <div class="col-5">
    <app-random-challenge-list></app-random-challenge-list>
  </div>
  <div class="col-7 text-justify d-flex flex-column justify-content-between">
    <h2>Подборки</h2>
    <div>
      <p>Задачи по программированию могут быть объединены в тематические <strong>подборки</strong>.</p>
      <p>Выберите одну из <a [routerLink]="'/challenge-lists'">архива</a> и решите все задачи из этой подборки!</p>
    </div>
    <div>
      <a [routerLink]="'/challenge-lists'" class="btn btn-primary">
        <i class="fa fa-database"></i>
        Архив подборок
      </a>
      <a [routerLink]="'/challenge-lists/create'" class="btn btn-success">
        <i class="fa fa-plus"></i>
        Создать подборку
      </a>
    </div>
  </div>
</div>
<hr/>
<div class="row my-3">
  <div class="col-7 text-justify d-flex flex-column justify-content-between">
    <h2>Пользователи</h2>
    <p>
      Мы - сообщество. И весь контент, представленный на сайте, создан рядовыми <strong>пользователями</strong>.
      И Вы можете стать частью сообщества и принять активное участие в его развитии!
    </p>
    <div>
      <a [routerLink]="'/sign-up'" class="btn btn-success">
        <i class="fa fa-user-plus"></i>
        Зарегистрироваться
      </a>
      <a [routerLink]="'/login'" class="btn btn-primary">
        <i class="fa fa-sign-in"></i>
        Войти в систему
      </a>
      <a [routerLink]="'/users'" class="btn btn-secondary">
        <i class="fa fa-database"></i>
        Список пользователей
      </a>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-star"></i>
        Наши активисты
      </div>
      <div class="card-block p-0">
        <app-top-users [property]="'rating'">
        </app-top-users>
      </div>
    </div>
  </div>
</div>

