<ul class="list-group">
  <li class="list-group-item header">Ваши решения</li>
  <li class="list-group-item list-group-item-action"
      *ngFor="let solution of solutions"
      [class.active]="active === solution"
      (click)="onSelect.emit(solution)">
    <app-solution-status-view [status]="solution.status" class="mr-2"></app-solution-status-view>
    <span [class.changed]="solution.newSolution && solution.newSolution != solution.implementation">
      {{solution.solutionNum ? 'Решение №' + solution.solutionNum : 'Новое решение'}}
    </span>
  </li>
</ul>
