<div class="jumbotron" *ngIf="challenge">
  <h1 class="display-3">{{challenge.name}}</h1>
  <p class="lead">{{challenge.shortDescription}}</p>
</div>
<div class="jumbotron" *ngIf="!challenge">
  <h1 class="display-3">Загрузка...</h1>
</div>
<app-view-challenge [challenge]="challenge"></app-view-challenge>
<div class="row">
  <div class="col-md-8">
    <tabset type="pills" [justified]="true" *ngIf="challenge">
      <tab customClass="tab-sm tab-success pr-2" class="py-3">
        <template tabHeading>
          <i class="fa fa-plus"></i>
          <span> Комментировать</span>
        </template>
        <div *ngIf="commentsAllowed && authorized">
          <textarea title="Ваш комментарий" [(ngModel)]="newComment" class="form-control mb-2"></textarea>
          <button type="button" class="btn btn-primary btn-sm"
                  [disabled]="!newComment" (click)="sendComment()">
            Оставить комментарий
          </button>
          <button type="button" class="btn btn-secondary btn-sm"
                  [disabled]="!newComment" (click)="newComment = ''">
            Отмена
          </button>
        </div>
        <div *ngIf="!commentsAllowed || !authorized" class="alert alert-warning">
          <p *ngIf="!authorized">
            Оставлять коментарии могут только зарегистрированные пользователи
          </p>
          <p *ngIf="authorized && accessDeny(challenge.details.commentAccess)">
            Возможность комментирования недоступна для данной задачи
          </p>
          <p *ngIf="authorized && accessOnlySolved(challenge.details.commentAccess)">
            Вы получите доступ к комментированию после решения задачи
          </p>
        </div>
      </tab>
      <tab customClass="tab-sm tab-info px-2" class="py-3"
           [active]="true"
           (select)="loadComments()">
        <template tabHeading>
          <span>Комментарии </span>
          <i class="fa fa-comments"></i>
          <span>{{comments?.length}}</span>
        </template>
        <app-comments *ngIf="commentsAllowed"
                      [comments]="comments"
                      (commentLiked)="commentLiked($event)">
        </app-comments>
        <div *ngIf="!commentsAllowed" class="alert alert-warning">
          <p *ngIf="accessDeny(challenge.details.commentAccess)">
            Возможность комментирования недоступна для данной задачи
          </p>
          <p *ngIf="accessOnlySolved(challenge.details.commentAccess)">
            Вы получите доступ к комментариям после решения задачи
          </p>
        </div>
      </tab>
      <tab customClass="tab-sm tab-info pl-2" class="py-3"
           (select)="loadSolutions()">
        <template tabHeading>
          <span>Открытые решения </span>
          <i class="fa fa-share-alt"></i>
          <span>{{sharedSolutions?.length}}</span>
        </template>
        <app-shared-solution-list *ngIf="shareAllowed" [solutions]="sharedSolutions">
        </app-shared-solution-list>
        <div *ngIf="!shareAllowed" class="alert alert-warning">
          <p *ngIf="accessDeny(challenge.details.shareAccess)">
            Открытые решения недоступны для данной задачи
          </p>
          <p *ngIf="accessOnlySolved(challenge.details.shareAccess)">
            Вы получите доступ к открытым решениям после решения задачи
          </p>
        </div>
      </tab>
    </tabset>
  </div>
</div>
