<div class="jumbotron">
  <h1 class="display-3">Архив подборок</h1>
  <p class="lead">
    Подборка - это небольшой список задач, объединенных по некторому принципу.
    <br/>
    На этой странице Вы можете просмотреть все подборки задач на нашем портале.
    </p>
</div>
<div class="row">
  <div class="col-3">
    <a class="btn btn-lg btn-success btn-block mb-3" [routerLink]="'/challenge-lists/create'">
      <i class="fa fa-plus"></i>
      <span> Добавить подборку</span>
    </a>
    <form (submit)="changeSearch(search.value)">
      <div class="input-group mb-3">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input #search type="text" class="form-control" placeholder="Поиск">
      </div>
    </form>
    <pagination class="pagination-justified" *ngIf="page && page.totalElements > 10"
                (pageChanged)="changePage($event.page - 1)"
                [totalItems]="page.totalElements" [ngModel]="page.number + 1"
                [maxSize]="5" [boundaryLinks]="true" [directionLinks]="false"
                [firstText]="'&laquo;'" [lastText]="'&raquo;'">
    </pagination>
    <app-random-challenge-list>
    </app-random-challenge-list>
  </div>
  <div class="col-9">
      <app-challenge-list-list [items]="page?.content"></app-challenge-list-list>
  </div>
</div>
