<div class="jumbotron">
  <h1 class="display-3">Архив задач</h1>
  <p class="lead">
    На этой странице Вы можете просмотреть все задачи на нашем портале.
    <br/>
    Воспользуйтесь фильтром, чтобы найти себе новые интересные задачи.</p>
</div>
<div class="row">
  <div class="col-3">
    <a class="btn btn-lg btn-success btn-block mb-3" [routerLink]="['/challenges/create']">
      <i class="fa fa-plus"></i>
      <span> Добавить задачу</span>
    </a>
    <form (submit)="changeSearch(search.value)">
      <div class="input-group mb-3">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input #search type="text" class="form-control" placeholder="Поиск">
      </div>
    </form>
    <div class="card mb-3">
      <div class="card-header">
        <i class="mr-1 fa fa-filter"> </i>
        <span>Фильтр</span>
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>Рейтинг</label>
          <rating [max]="5" [(ngModel)]="newFilter.rating"
                  class="d-block pull-right"
                  stateOn="fa fa-lg fa-star text-warning"
                  stateOff="fa fa-lg fa-star text-muted">
          </rating>
        </div>

        <div class="form-group">
          <label>Сложность</label>
          <rating [max]="5" [(ngModel)]="newFilter.difficulty"
                  class="d-block pull-right"
                  stateOn="fa fa-lg fa-asterisk text-primary"
                  stateOff="fa fa-lg fa-asterisk text-muted">
          </rating>
        </div>

        <div class="form-group mb-0">
          <label>Статус</label>
          <div class="btn-group btn-group-sm pull-right" role="group">
            <label class="btn btn-outline-primary" title="Новые"
                   [(ngModel)]="newFilter.status" [btnRadio]="challengeStatus.NotStarted">
              <i class="fa fa-play fa-fw"></i>
            </label>
            <label class="btn btn-outline-info" title="Начатые"
                   [(ngModel)]="newFilter.status" [btnRadio]="challengeStatus.InProgress">
              <i class="fa fa-play fa-fw"></i>
            </label>
            <label class="btn btn-outline-success" title="Решенные"
                   [(ngModel)]="newFilter.status" [btnRadio]="challengeStatus.Completed">
              <i class="fa fa-check fa-fw"></i>
            </label>
          </div>
        </div>

        <div *ngIf="showClearButton()" class="text-center mt-2">
          <button *ngIf="showClearButton()" class="btn btn-secondary btn-sm"
                  (click)="clearFilter()">Сбросить</button>
          <button *ngIf="showApplyButton()" class="btn btn-primary btn-sm"
                  (click)="applyFilter()">Применить</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-star"> </i>
        <span>Популярные метки</span>
      </div>
      <div class="card-block">
        <app-tags (tagSelected)="changeTag($event?.name)"></app-tags>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-between mb-2">
      <div>
        <select class="custom-select custom-select-sm" title="Сортировать"
                [(ngModel)]="request.sortField" (change)="changeSort()">
          <option value="created">По дате создания</option>
          <option value="name">По названию</option>
          <option value="author">По автору</option>
          <option value="rating">По рейтингу</option>
          <option value="difficulty">По сложности</option>
        </select>
        <div class="btn-group btn-group-sm">
          <label class="btn btn-outline-primary mb-0"
                 [(ngModel)]="request.sortDir" (click)="changeSort()" btnRadio="asc">
            <i class="fa fa-sort-amount-asc"></i>
          </label>
          <label class="btn btn-outline-primary mb-0"
                 [(ngModel)]="request.sortDir" (click)="changeSort()" btnRadio="desc">
            <i class="fa fa-sort-amount-desc"></i>
          </label>
        </div>
      </div>
      <pagination class="pagination-sm mb-0" *ngIf="page && page.totalElements > 10"
                  (pageChanged)="changePage($event.page - 1)"
                  [totalItems]="page.totalElements" [ngModel]="page.number + 1"
                  [maxSize]="5" [boundaryLinks]="true" [directionLinks]="false"
                  [firstText]="'&laquo;'" [lastText]="'&raquo;'">
      </pagination>
    </div>
    <app-challenge-list [challenges]="page?.content">
    </app-challenge-list>
  </div>
</div>
