<ul class="list-group">
  <li *ngIf="!comments" class="list-group-item list-group-item-info">
    <i class="fa fa-spinner fa-pulse m-2"></i>
    <span>Загрузка...</span>
  </li>
  <li *ngIf="comments && !comments.length" class="list-group-item">
    Комментарии отсутствуют
  </li>
  <li *ngFor="let comment of comments" class="list-group-item">
    <div class="w-100">
      <div class="pull-right text-muted text-right">
        <button class="btn btn-sm btn-outline-primary mb-2"
                (click)="like(comment)"
                [disabled]="!user || user.username === comment.author.username"
                [class.active]="comment.liked">
          <span>{{comment.rating}} </span>
          <i class="fa fa-thumbs-up"></i>
        </button>
        <div class="small">
          <span>{{comment.created | date: 'd MMM yyyy'}} </span>
          <i class="fa fa-calendar"></i>
        </div>
        <div class="small">
          <span>{{comment.created | date: 'shortTime'}} </span>
          <i class="fa fa-clock-o"></i>
        </div>
      </div>
      <h5>
        <app-user-link [user]="comment.author"></app-user-link>
      </h5>
      <p>{{comment.text}}</p>
    </div>
  </li >
</ul>
