<div *ngFor="let revision of revisions">
  <span [ngSwitch]="revision.status" class="mr-2">
    <span *ngSwitchCase="revisionStatus.empty" class="badge badge-bill badge-default">
      <i class="fa fa-fw fa-circle-o"></i>
    </span>
    <span *ngSwitchCase="revisionStatus.success" class="badge badge-bill badge-success">
      <i class="fa fa-fw fa-check"></i>
    </span>
    <span *ngSwitchCase="revisionStatus.failed" class="badge badge-bill badge-warning">
      <i class="fa fa-fw fa-remove"></i>
    </span>
    <span *ngSwitchCase="revisionStatus.error" class="badge badge-bill badge-danger">
      <i class="fa fa-fw fa-remove"></i>
    </span>
  </span>
  <a [routerLink]="'revision/' + revision.id">Попытка №{{revision.id}}</a>
  <span class="pull-right text-muted">{{revision.date | date: "dd MMM yy"}}</span>
</div>
