<div class="jumbotron" *ngIf="userAccount">
  <h1 class="display-3">{{userAccount.name}}</h1>
  <p class="lead">{{userAccount.description}}</p>
</div>
<div class="jumbotron" *ngIf="!userAccount">
  <h1 class="display-3">Загрузка...</h1>
</div>
<div class="row" *ngIf="userAccount">
  <div class="col-3">
    <img src="http://placehold.it/300x300" class="rounded w-100 mb-3"/>
    <div class="card mb-3">
      <table class="table mb-0">
        <tbody>
        <tr>
          <td>Рейтинг</td>
          <td>
            <i class="fa fa-diamond text-primary"></i>
            <span>{{userAccount.rating || 0}}</span>
          </td>
        </tr>
        <tr>
          <td>Решено задач</td>
          <td>
            <i class="fa fa-check text-success"></i>
            <span>{{userAccount.solutions || 0}}</span>
          </td>
        </tr>
        <tr>
          <td>Регистрация</td>
          <td>
            <span>{{userAccount.registrationDate | date:'d MMM yyyy'}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--<button class="btn btn-secondary btn-block mb-1">-->
      <!--<i class="fa fa-image"></i>-->
      <!--<span>Загрузить фото</span>-->
    <!--</button>-->
    <!--<button class="btn btn-secondary btn-block">-->
      <!--<i class="fa fa-lock"></i>-->
      <!--<span>Сменить пароль</span>-->
    <!--</button>-->
  </div>
  <div class="col-9">
    <tabset type="tabs">
      <tab class="py-3">
        <ng-template tabHeading>
          Задачи <i class="fa fa-plus"></i> {{challenges ? challenges.length : userAccount.challenges}}
        </ng-template>
        <app-challenge-list [challenges]="challenges">
        </app-challenge-list>
      </tab>
      <tab class="py-3">
        <ng-template tabHeading>
          Подборки <i class="fa fa-list"></i> {{playlists ? playlists.length : userAccount.playlists}}
        </ng-template>
        <app-playlist-list [items]="playlists">
        </app-playlist-list>
      </tab>
      <tab class="py-3">
        <ng-template tabHeading>
          Закладки <i class="fa fa-bookmark"></i> {{bookmarks?.length}}
        </ng-template>
        <app-challenge-list [challenges]="bookmarks">
        </app-challenge-list>
      </tab>
      <tab class="py-3">
        <ng-template tabHeading>
          Решения <i class="fa fa-share-alt"></i> {{solutions ? solutions.length : userAccount.sharedSolutions}}
        </ng-template>
        <app-shared-solution-list [solutions]="solutions"></app-shared-solution-list>
      </tab>
    </tabset>
  </div>
</div>
