<div class="jumbotron">
  <h1 class="display-3">Создать статью</h1>
  <p class="lead">Напиши статью. Напиши ее полностью</p>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div class="form-group">
    <label class="control-label" for="name">Название</label>
    <input type="text" class="form-control required" formControlName="name" id="name">
    <div *ngIf="displayErrors('name')"
         class="text-danger">
      <div *ngIf="displayError('name', 'required')">Укажите название статьи</div>
      <div *ngIf="displayError('name', 'minlength')">Слишком короткое название. Необходимо как минимум 4 символа</div>
      <div *ngIf="displayError('name', 'maxlength')">Слишком короткое название. Необходимо уложиться в 50 символов</div>
      <div *ngIf="displayError('name', 'pattern')">Название содержит недопустимые символы</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="description">Короткое описание</label>
    <textarea type="text" class="form-control required" formControlName="description" id="description">
    </textarea>
    <div *ngIf="displayErrors('description')"
         class="text-danger">
      <div *ngIf="displayError('description', 'required')">Напишите описание статьи</div>
      <div *ngIf="displayError('description', 'minlength')">Слишком короткое описание. Необходимо как минимум 50 символов</div>
      <div *ngIf="displayError('description', 'maxlength')">Слишком длинное описание. Необходимо уложиться в 500 символов</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Основной текст</label>
    <quill-editor class="form-control required"
                  [formControl]="form.controls['body']"
                  [config]="editorConfig">
    </quill-editor>
    <div *ngIf="displayErrors('body')"
         class="text-danger">
      <div *ngIf="displayError('body', 'required')">Напишите основной текст статьи</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Метки</label>
    <app-tag-picker [(tags)]="tags"></app-tag-picker>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success"
            [disabled]="!form.valid || submitted">
      <i class="fa fa-plus"> </i>
      <span> Создать</span>
    </button>
  </div>
</form>
