<input class="form-control" title="Добавить задачу"
       [(ngModel)]="newChallenge"
       [ngModelOptions]="{standalone: true}"
       [typeahead]="availableChallenges"
       [typeaheadOptionField]="'name'"
       [typeaheadWaitMs]="300"
       (typeaheadOnSelect)="onSelect($event)">
<ng-template #itemTemplate let-item="item" let-index="index">
  <div class="card my-1">
    <div class="card-block">
      <a class="pull-right text-danger" href
         (click)="removeItem(index)">
        <i class="fa fa-remove fa-2x"></i>
      </a>
      <h4><a [routerLink]="['/challenges',item.initData.id]">{{item.initData.name}}</a></h4>
      <div>{{item.initData.shortDescription}}</div>
    </div>
  </div>
</ng-template>
<bs-sortable
  [(ngModel)]="challenges"
  [itemTemplate]="itemTemplate">
</bs-sortable>
