<input class="form-control" title="Добавить задачу"
       [(ngModel)]="newChallenge"
       [ngModelOptions]="{standalone: true}"
       [typeahead]="availableChallenges"
       typeaheadOptionField="name"
       [typeaheadWaitMs]="300"
       (typeaheadOnSelect)="onSelect($event)">
<ng-template #itemTemplate let-item="item">
  <div class="card my-1">
    <div class="card-block">
      <button type="button" class="pull-right btn btn-danger" (click)="removeItem(index)">
        <i class="fa fa-remove"></i>
      </button>
      <h4><a [routerLink]="['/challenges',item.initData.id]">{{item.initData.name}}</a></h4>
      <p>{{item.initData.shortDescription}}</p>
    </div>
  </div>
</ng-template>
<bs-sortable
  [(ngModel)]="challenges"
  [itemTemplate]="itemTemplate">
</bs-sortable>
