<input class="form-control"
       [(ngModel)]="newChallenge"
       [ngModelOptions]="{standalone: true}"
       [typeahead]="availableChallenges"
       typeaheadOptionField="name"
       [typeaheadWaitMs]="300"
       (typeaheadOnSelect)="onSelect($event)">
<bs-sortable
  [(ngModel)]="challenges"
  [itemTemplate]="itemTemplate">
</bs-sortable>
<template #itemTemplate let-item="item" let-index="index">
  <div class="card my-1">
    <div class="card-block">
      <button type="button" class="pull-right btn btn-danger" (click)="removeItem(index)">
        <i class="fa fa-remove"></i>
      </button>
      <h4><a [routerLink]="['/challenges',item.initData.id]">{{item.initData.name}}</a></h4>
      <p>{{item.initData.abstract}}</p>
    </div>
  </div>
</template>
