<div class="jumbotron">
  <h1 class="display-3">Пользователи</h1>
  <p class="lead">
    На этой странице Вы можете посмотреть всех пользователей нашего сообщества
  </p>
</div>
<div class="row mb-3">
  <div class="col-9">
    <ul class="list-group">
      <li class="list-group-item header justify-content-start">
        <div class="mx-2" style="width: 100px"></div>
        <div class="ml-3">Пользователь</div>
        <div class="ml-auto mr-3">
          <i class="fa fa-sort-amount-desc"></i>
          <span>Рейтинг</span>
        </div>
      </li>
      <li class="list-group-item list-group-item-info lead p-3" *ngIf="!page || !page.content">
        <i class="fa fa-spinner fa-pulse ml-3"></i>
        <span> Загрузка...</span>
      </li>
      <li class="list-group-item list-group-item-warning lead p-3" *ngIf="page?.content && !page.content.length">
        Ни одного пользователя не найдено
      </li>
      <li class="list-group-item justify-content-start flex-nowrap" *ngFor="let user of page?.content">
        <img src="http://placehold.it/100x100" class="rounded m-2"/>
        <div class="ml-3">
          <h3>
            <a [routerLink]="['/users', user.username]">{{user.name || user.username}}</a>
          </h3>
          <p>{{user.description}}</p>
          <div class="text-muted">
            <span class="mr-3">
              <i class="fa fa-calendar"></i>
              {{user.registrationDate | date: "dd MMM yyyy"}}
            </span>
            <span *ngIf="user.challenges" class="mr-3">
              <i class="fa fa-plus"></i>
              {{user.challenges}}
            </span>
            <span *ngIf="user.playlists" class="mr-3">
              <i class="fa fa-list"></i>
              {{user.playlists}}
            </span>
            <span *ngIf="user.solutions" class="mr-3">
              <i class="fa fa-check"></i>
              {{user.solutions}}
            </span>
            <span *ngIf="user.comments" class="mr-3">
              <i class="fa fa-comments"></i>
              {{user.comments}}
            </span>
            <span *ngIf="user.sharedSolutions" class="mr-3">
              <i class="fa fa-share-alt"></i>
              {{user.sharedSolutions}}
            </span>
          </div>
        </div>
        <div class="ml-auto p-3 lead text-nowrap">
          <span> {{user.rating || 0}}</span>
          <i class="fa fa-diamond text-primary"></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-3">
    <form (submit)="changeSearch(search.value)">
      <div class="input-group mb-3">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input #search type="text" class="form-control" placeholder="Поиск">
      </div>
    </form>
    <pagination class="pagination-justified" *ngIf="page && page.totalElements > 10" (pageChanged)="changePage($event.page - 1)"
                [totalItems]="page.totalElements" [ngModel]="page.number + 1"
                [maxSize]="5" [boundaryLinks]="true" [directionLinks]="false"
                [previousText]="'&lsaquo;'" [nextText]="'&rsaquo;'"
                [firstText]="'&laquo;'" [lastText]="'&raquo;'">
    </pagination>
    <div class="card mb-3">
      <div class="card-header">
        <small class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-inverse fa-stack-1x"></i>
        </small>
        <span>Топ авторов</span>
      </div>
      <app-top-users [property]="'challenges'">
      </app-top-users>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <small class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-check fa-inverse fa-stack-1x"></i>
        </small>
        <span>Топ решающих</span>
      </div>
      <app-top-users [property]="'solutions'">
      </app-top-users>
    </div>
  </div>
</div>
