<div [hidden]="challenges" class="alert alert-info lead text-center p-3">
  <i class="fa fa-spinner fa-pulse"></i>
  <span> Загрузка...</span>
</div>
<div [hidden]="!challenges || challenges.length" class="alert alert-warning lead text-center p-3">
  <span> Задач не найдено</span>
</div>
<div *ngFor="let challenge of challenges" class="card mb-2">
  <div class="card-header">
    <div class="pull-right m-1">
      <app-user-link [user]="challenge.author"></app-user-link>
    </div>
    <h3 class="m-0">
      <small class="challenge-status mr-3">
        <app-challenge-status-view [status]="challenge.status"></app-challenge-status-view>
      </small>
      <a [routerLink]="'/challenges/'+ challenge.id">{{challenge.name}}</a>
    </h3>
  </div>
  <div class="card-block pt-2">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column justify-content-between" style="max-width: 600px">
        <p class="card-text text-justify mt-2">{{challenge.shortDescription}}</p>
        <app-tags-line [tags]="challenge.tags"></app-tags-line>
      </div>
      <div class="text-right" style="max-width: 220px">
        <div title="Рейтинг">
          <rating [ngModel]="challenge.rating"
                  [readonly]="true" [max]="5"
                  stateOn="fa fa-star text-warning">
          </rating>
        </div>
        <div  title="Сложность">
          <rating [ngModel]="challenge.difficulty"
                  [readonly]="true" [max]="5"
                  stateOn="fa fa-asterisk text-primary">
          </rating>
        </div>
        <div class="small text-muted" title="Дата Создания">
          <span> {{challenge.created | date: "dd MMM yyyy"}}</span>
          <i class="fa fa-calendar"></i>
        </div>
      </div>
    </div>
  </div>
</div>
