<div class="jumbotron">
  <h1 class="display-3">Архив задач</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>
    <button class="btn btn-success">
      <i class="fa fa-plus"></i>
      <span> Предложить новую задачу</span>
    </button>
  </p>
</div>
<div class="row">
  <div class="col-3">
    <div class="card my-2">
      <div class="card-block">
        <div class="card-text">Привет. Я пагинация</div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-block">
        <div class="card-text">Привет. Я сортировка</div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-header">
        <i class="fa fa-search"> </i>
        <span>Фильтр</span>
      </div>
      <div class="card-block">
        <div class="card-text">Привет. Я поиск</div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-header">
        <i class="fa fa-star"> </i>
        <span>Популярные метки</span>
      </div>
      <div class="card-block">
        <app-tags></app-tags>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div *ngFor="let challenge of challenges" class="card my-2">
      <div class="card-header">
        <h3 class="m-0">
          <span [ngSwitch]="challenge.status">
            <span *ngSwitchCase="challengeStatus.NotStarted" class="badge badge-primary px-3">
              <i class="fa fa-play"></i>
            </span>
            <span *ngSwitchCase="challengeStatus.InProgress" class="badge badge-info px-3">
              <i class="fa fa-play"></i>
            </span>
            <span *ngSwitchCase="challengeStatus.Completed" class="badge badge-success px-3">
              <i class="fa fa-check"></i>
            </span>
          </span>
          <a routerLink ="/challanges/{{challenge.id}}">{{challenge.name}}</a>
        </h3>
      </div>
      <div class="card-block pt-2 row">
        <div class="col-9">
          <p class="card-text text-justify mt-2">{{challenge.description}}</p>
          <span *ngFor="let tag of challenge.tags" class="badge badge-default badge-pill mr-1">
            {{tag}}
          </span>
        </div>
        <div class="col-3 text-muted text-right">
          <div [hidden]="!challenge.likes" [class.text-primary]="challenge.liked">
            <span> {{challenge.likes}}</span>
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div [hidden]="!challenge.comments">
            <span> {{challenge.comments}}</span>
            <i class="fa fa-comments"></i>
          </div>
          <div>
            <span> {{challenge.author}}</span>
            <i class="fa fa-user"></i>
          </div>
          <div>
            <span> {{challenge.created | date: "shortDate"}}</span>
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
