<tabset>
  <tab heading="Описание" class="py-3">
    <div class="row">
      <div class="col-md-8">
        <div [hidden]="details" class="lead text-center alert alert-info">
          <i class="fa fa-spinner fa-pulse"></i>
          <span> Загрузка...</span>
        </div>
        <quill-editor *ngIf="details"
                      [config]="{readOnly: true, modules: { toolbar: false }}"
                      [ngModel]="details.fullDescription"
                      class="form-control">
        </quill-editor>
      </div>
      <div class="col-md-4" *ngIf="challenge && details">
        <div class="row mb-3" *ngIf="canEdit">
          <div class="col-6">
            <button type="button"
                    [disabled]="submitted=='edit'"
                    (click)="editPopup.open()"
                    class="btn btn-info btn-block">
              <i *ngIf="submitted!='edit'" class="fa fa-edit"></i>
              <i *ngIf="submitted=='edit'" class="fa fa-spinner fa-pulse"></i>
              <span> Изменить</span>
            </button>
          </div>
          <div class="col-6">
            <button type="button"
                    [disabled]="submitted=='delete'"
                    (click)="confirmDelete.open()"
                    class="btn btn-danger btn-block">
              <i *ngIf="submitted!='delete'" class="fa fa-trash"></i>
              <i *ngIf="submitted=='delete'" class="fa fa-spinner fa-pulse"></i>
              <span> Удалить</span>
            </button>
          </div>
        </div>
        <div class="card mb-3">
          <table class="table mb-0">
            <tbody>
            <tr>
              <td>Автор</td>
              <td>
                <app-user-link [user]="challenge.author"></app-user-link>
              </td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>
                <span>{{challenge.created | date:'d MMM yyyy'}}</span>
              </td>
            </tr>
            <tr>
              <td>Статус</td>
              <td>
                <app-challenge-status-view [status]="challenge.status"></app-challenge-status-view>
              </td>
            </tr>
            <tr>
              <td>Рейтинг</td>
              <td>
                <rating [ngModel]="challenge.rating"
                        [readonly]="true" [max]="5"
                        stateOn="fa fa-star text-warning">
                </rating>
              </td>
            </tr>
            <tr>
              <td>Сложность</td>
              <td>
                <rating [ngModel]="challenge.difficulty"
                        [readonly]="true" [max]="5"
                        stateOn="fa fa-asterisk text-primary">
                </rating>
              </td>
            </tr>
            <tr>
              <td>Просмотры</td>
              <td>
                <span>{{details.views}} </span>
                <i class="fa fa-eye"></i>
              </td>
            </tr>
            <tr>
              <td>Успешные решения</td>
              <td>
                <span>{{details.solutions}} </span>
                <i class="fa fa-check"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb-3" *ngIf="user">
          <div class="col-6">
            <button type="button"
                    [class.active]="userDetails?.bookmark"
                    [disabled]="submitted=='bookmark'"
                    (click)="updateBookmark()"
                    class="btn btn-outline-primary btn-block">
              <i *ngIf="submitted!='bookmark'" class="fa fa-bookmark"></i>
              <i *ngIf="submitted=='bookmark'" class="fa fa-spinner fa-pulse"></i>
              <span> В закладки</span>
            </button>
          </div>
          <div class="col-6">
            <button type="button"
                    [class.active]="userDetails?.rating"
                    [disabled]="submitted=='rating'"
                    (click)="ratePopup.open()"
                    class="btn btn-outline-warning btn-block">
              <i *ngIf="submitted!='rating'" class="fa fa-star"></i>
              <i *ngIf="submitted=='rating'" class="fa fa-spinner fa-pulse"></i>
              <span> Оценить</span>
            </button>
          </div>
        </div>
        <app-tags-line [tags]="challenge.tags"></app-tags-line>
        <app-rate-challenge
          #ratePopup
          [initRating]="userDetails?.rating"
          (onSubmit)="updateUserRating($event)">
        </app-rate-challenge>
        <app-challenge-edit
          #editPopup
          [initData]="challenge"
          (onSubmit)="updateChallenge($event)">
        </app-challenge-edit>
        <app-confirmation-popup
          #confirmDelete
          title="Удалить задачу"
          [body]="'Вы действительно хотите удалить задачу? Операция необратима!'"
          (onConfirm)="deleteChallenge()">
        </app-confirmation-popup>
      </div>
    </div>
  </tab>
  <tab heading="Решение" class="py-3" (select)="openSolutionTab()">
    <div class="row">
      <div class="col-md-8">
        <ace-editor class="form-control"
                    (textChanged)="updateText()"
                    #solutionEditor
                    [readOnly]="submitted || !user"
                    [mode]="'java'"
                    [theme]="'dreamweaver'"
                    [options]="options">
        </ace-editor>
      </div>
      <div class="col-md-4" *ngIf="solution && user">
        <button type="button" class="btn btn-primary btn-block btn-lg mb-2"
                [disabled]="submitted || solution.implementation === solution.newSolution && solution.status !== solutionStatus.empty"
                title="Сохранить и протестировать решение"
                (click)="testSolution()">
          <i *ngIf="submitted!='test'" class="fa fa-play"></i>
          <i *ngIf="submitted=='test'" class="fa fa-spinner fa-pulse "></i>
          <span> Проверить</span>
        </button>
        <div class="mb-3 d-flex justify-content-between">
          <button type="button" class="btn btn-success"
                  [disabled]="submitted"
                  (click)="addSolution()"
                  title="Добавить новое решение">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" class="btn btn-success"
                  [disabled]="submitted"
                  (click)="copySolution()"
                  title="Скопировать в новое решение">
            <i class="fa fa-clone"></i>
          </button>
          <button type="button"
                  [disabled]="submitted || !checkShare()"
                  [title]="titleShare()"
                  (click)="sharePopup.open()"
                  class="btn btn-info">
            <i *ngIf="submitted!='share'" class="fa fa-share-alt"></i>
            <i *ngIf="submitted=='share'" class="fa fa-spinner fa-pulse"></i>
          </button>
          <button type="button" class="btn btn-secondary"
                  [disabled]="submitted || solution.implementation == solution.newSolution && solution.status != solutionStatus.created"
                  title="Сохранить решение без тестирования"
                  (click)="saveSolution()">
            <i *ngIf="submitted!='save'" class="fa fa-save"></i>
            <i *ngIf="submitted=='save'" class="fa fa-spinner fa-pulse"></i>
          </button>
          <button type="button" class="btn btn-warning"
                  [disabled]="submitted || solution.implementation === solution.newSolution"
                  title="Сбросить изменения"
                  (click)="revertChanges()">
            <i class="fa fa-undo"></i>
          </button>
          <button type="button" class="btn btn-danger"
                  [disabled]="submitted"
                  (click)="removeSolution()"
                  title="Удалить решение">
            <i *ngIf="submitted!='remove'" class="fa fa-remove"></i>
            <i *ngIf="submitted=='remove'" class="fa fa-spinner fa-pulse"></i>
          </button>
        </div>
        <app-revision-list
          [solutions]="userDetails.solutions"
          [active]="solution"
          (onSelect)="setSolution($event)">
        </app-revision-list>
        <app-share-solution #sharePopup [revision]="solution" (onSubmit)="shareSolution($event)">
        </app-share-solution>
      </div>
      <div class="col-md-4" *ngIf="!user">
        <div class="alert alert-warning lead text-justify">
          <p>Решение задач доступно только зарегистрированным пользователям!</p>
          <p>
            <a [routerLink]="'/login'">Войдите</a>
            в систему или
            <a [routerLink]="'/sign-up'">создайте</a>
            новый аккаунт!
          </p>
        </div>
      </div>
      <div class="col-md-4" *ngIf="!solution">
        <div class="alert alert-info lead text-center">
          <i class="fa fa-spinner fa-pulse"></i>
          <span> Загрузка...</span>
        </div>
      </div>
    </div>
    </tab>
  <tab heading="Результаты тестов" class="py-3" *ngIf="user" [disabled]="!solution?.testResults?.length"
       (deselect)="testResultsActive = false" [active]="testResultsActive">
    <div *ngIf="!solution" class="alert alert-info lead text-center">
      <i class="fa fa-spinner fa-pulse"></i>
      <span> Загрузка...</span>
    </div>
    <div *ngIf="solution && !solution.testResults" class="alert alert-warning lead text-center">
      <span>Решение не тестировалось</span>
    </div>
    <div class="card" *ngIf="solution?.testResults">
      <app-test-results-table [testResults]="solution?.testResults">
      </app-test-results-table>
    </div>
  </tab>
</tabset>
