<tabset>
  <tab heading="Описание" class="py-3">
    <div class="row">
      <div class="col-md-8">
        <div [hidden]="challenge" class="lead text-center alert alert-info">
          <i class="fa fa-spinner fa-pulse"></i>
          <span> Загрузка...</span>
        </div>
        <div class="card description" *ngIf="challenge">
          <div class="card-block text-justify" [innerHTML]="challenge.description"></div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="challenge">
        <div class="card">
          <table class="table mb-0">
            <tbody>
            <tr>
              <td>Автор</td>
              <td>
                <app-user-link [user]="challenge.author"></app-user-link>
              </td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>
                <span>{{challenge.created | date:'d MMM yyyy'}}</span>
              </td>
            </tr>
            <tr >
              <td>Рейтинг</td>
              <td>
                <rating [ngModel]="challenge.rating"
                        [readonly]="true" [max]="5"
                        stateOn="fa fa-star text-warning">
                </rating>
              </td>
            </tr>
            <tr>
              <td>Сложность</td>
              <td>
                <rating [ngModel]="challenge.difficulty"
                        [readonly]="true" [max]="5"
                        stateOn="fa fa-asterisk text-primary">
                </rating>
              </td>
            </tr>
            <tr>
              <td>Просмотры</td>
              <td>
                <span>{{challenge.views}} </span>
                <i class="fa fa-eye"></i>
              </td>
            </tr>
            <tr>
              <td>Успешные решения</td>
              <td [class.text-success]="challenge.status === challengeStatus.Completed">
                <span>{{challenge.completedSolutions}} </span>
                <i class="fa fa-check"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <button type="button"
                    [class.active]="challenge.bookmark"
                    (click)="updateBookmark()"
                    class="btn btn-outline-primary btn-block">
              <i class="fa fa-bookmark"></i>
              <span> В закладки</span>
            </button>
          </div>
          <div class="col-6">
            <app-rate-challenge
              [initRating]="challenge.userRating"
              [initDifficulty]="challenge.userDifficulty"
              (onSubmit)="updateUserRating($event)">
            </app-rate-challenge>
          </div>
        </div>
        <div>
          <span *ngFor="let tag of challenge.tags"
                class="badge badge-default mr-1">{{tag}}</span>
          <i class="fa fa-tags m-1 text-muted"></i>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Решение" class="py-3" (select)="openSolutionTab()">
    <div class="row">
      <div class="col-md-8">
        <ace-editor class="form-control"
                    (textChanged)="updateText()"
                    #solutionEditor
                    [readOnly]="submitted || !authorized"
                    [mode]="'java'"
                    [theme]="'dreamweaver'"
                    [options]="options">
        </ace-editor>
      </div>
      <div class="col-md-4" *ngIf="solution && authorized">
        <button type="button" class="btn btn-primary btn-block btn-lg mb-2"
                [disabled]="solution.solution === solution.newSolution && solution.status !== solutionStatus.empty"
                title="Сохранить и протестировать решение"
                (click)="testSolution()">
          <i class="fa fa-play"></i>
          <span> Протестировать</span>
        </button>
        <div class="mb-3 d-flex justify-content-between">
          <button type="button" class="btn btn-success"
                  (click)="addSolution()"
                  title="Добавить новое решение">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" class="btn btn-secondary"
                  (click)="copySolution()"
                  title="Скопировать в новое решение">
            <i class="fa fa-clone"></i>
          </button>
          <app-share-solution [revision]="solution" (onSubmit)="shareSolution($event)">
          </app-share-solution>
          <button type="button" class="btn btn-secondary"
                  [disabled]="solution.solution === solution.newSolution"
                  title="Сохранить решение без тестирования"
                  (click)="saveSolution()">
            <i class="fa fa-save"></i>
          </button>
          <button type="button" class="btn btn-warning"
                  [disabled]="solution.solution === solution.newSolution"
                  title="Сбросить изменения"
                  (click)="revertChanges()">
            <i class="fa fa-undo"></i>
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="removeSolution()"
                  title="Удалить решение">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div>
          <app-revision-list
            [solutions]="challenge.solutions"
            [active]="solution"
            (onSelect)="setSolution($event)">
          </app-revision-list>
        </div>
      </div>
      <div class="col-md-4" *ngIf="!authorized">
        <div class="alert alert-warning lead">
          <p>Решение задач доступно только зарегистрированным пользователям!</p>
          <p>
            <a [routerLink]="'/login'">Войдите</a>
            в систему или
            <a [routerLink]="'/sign-up'">создайте</a>
            новый аккаунт!
          </p>
        </div>
      </div>
    </div>
    </tab>
  <tab heading="Результаты тестов" class="py-3" [disabled]="!solution?.testResults?.length"
       (deselect)="testResultsActive = false" [active]="testResultsActive">
    <div class="card">
      <app-test-results-table [testResults]="solution?.testResults">
      </app-test-results-table>
    </div>
  </tab>
</tabset>
