<div class="jumbotron" *ngIf="challenge">
  <h1 class="display-3">{{challenge.name}}</h1>
  <p class="lead">{{challenge.description}}</p>
  <div class="lead" *ngIf="challenge.tags">
    <span *ngFor="let tag of challenge.tags"
          class="badge badge-default mr-1">{{tag}}</span>
    <i class="fa fa-tags ml-1"></i>
  </div>
</div>
<div class="jumbotron" *ngIf="!challenge">
  <h1 class="display-3">Загрузка...</h1>
</div>
<div class="row">
  <div class="col-md-8">
    <ace-editor #editor class="form-control mb-3" [readOnly]="true"
                [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
    </ace-editor>

    <tabset type="pills" [justified]="true" *ngIf="challenge">
      <tab customClass="tab-sm tab-success pr-2" class="py-3">
        <template tabHeading>
          <i class="fa fa-plus"></i>
          <span> Комментировать</span>
        </template>
        <textarea title="comment" [(ngModel)]="newComment" class="form-control mb-2"></textarea>
        <button type="button" class="btn btn-primary btn-sm"
                [disabled]="!newComment" (click)="sendComment()">
          Оставить комментарий
        </button>
        <button type="button" class="btn btn-secondary btn-sm"
                [disabled]="!newComment" (click)="newComment = ''">
          Отмена
        </button>
      </tab>
      <tab customClass="tab-sm tab-info px-2" class="py-3"
           [disabled]="!challenge.comments" (select)="loadComments()">
        <template tabHeading>
          <span>Комментарии </span>
          <i class="fa fa-comments"></i>
          <span> {{comments?.length || challenge.comments || 0}}</span>
        </template>
        <app-comments [comments]="comments"></app-comments>
      </tab>
      <tab customClass="tab-sm tab-info pl-2" class="py-3"
           [disabled]="!challenge.sharedSolutions">
        <template tabHeading>
          <span>Опубликованные Решения </span>
          <i class="fa fa-check"></i>
          <span> {{challenge.sharedSolutions || 0}}</span>
        </template>
      </tab>
    </tabset>
  </div>

  <div class="col-md-4" *ngIf="challenge">
    <div class="card mb-3" *ngIf="challenge">
      <table class="table mb-0">
        <tbody>
        <tr>
          <td>Автор</td>
          <td>
            <span class="fa fa-user"></span>
            <span>{{challenge.author}}</span>
          </td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>
            <span>{{challenge.created | date:'d MMM yyyy'}}</span>
          </td>
        </tr>
        <tr>
          <td>Просмотры</td>
          <td>
            <span>{{challenge.views}} </span>
            <i class="fa fa-eye"></i>
          </td>
        </tr>
        <tr>
          <td>Успешные решения</td>
          <td [class.text-success]="challenge.status === challengeStatus.Completed">
            <span>{{challenge.solutions}} </span>
            <i class="fa fa-check"></i>
          </td>
        </tr>
        <tr *ngIf="challenge.likes" >
          <td>Рейтинг</td>
          <td [class.text-primary]="challenge.liked">
            <span>{{challenge.likes}}</span>
            <i class="fa fa-thumbs-up"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <accordion [hidden]="challenge.status === challengeStatus.NotStarted" class="my-3">
      <accordion-group #revisionsAccordion>
        <div accordion-heading>
          <b>Ваши попытки</b>
          <i class="pull-right my-1 fa"
             [class.fa-chevron-down]="revisionsAccordion?.isOpen"
             [class.fa-chevron-right]="!revisionsAccordion?.isOpen"></i>
        </div>
        <!--TODO revision-view-->
        Revisions
      </accordion-group>
    </accordion>

    <div [ngSwitch]="challenge.status" class="my-3">
      <button *ngSwitchCase="challengeStatus.NotStarted"
              type="submit" class="btn btn-primary btn-lg" title="Новое решение">
        <i class="fa fa-play"></i>
        <span> Решить</span>
      </button>

      <button *ngSwitchCase="challengeStatus.InProgress"
              type="submit" class="btn btn-info" title="Продолжить решение">
        <i class="fa fa-play"></i>
        <span> Продолжить решение</span>
      </button>

      <button *ngSwitchCase="challengeStatus.Completed"
              type="submit" class="btn btn-success" title="Просмотреть решение">
        <i class="fa fa-check"></i>
        <span> Просмотреть решение</span>
      </button>

      <button *ngIf="challenge.status !== challengeStatus.NotStarted"
              type="submit" class="btn btn-primary my-2" title="Новое решение">
        <i class="fa fa-play"></i>
        <span> Новое решение</span>
      </button>
    </div>
  </div>
</div>
