@import "../node_modules/bootstrap/scss/bootstrap";

/* Common */
.jumbotron {
  padding: 2rem 4rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* Forms */
label.col-form-label {
  text-align: right;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 4px solid $btn-success-border; /* green */
}
.ng-invalid:not(form)  {
  border-left: 4px solid $btn-danger-border; /* red */
}

/* Accordion */
accordion .card-title {
  margin-bottom: 0 !important;
}

/* Tabs */
.nav-item.tab-sm>a.nav-link {
  @extend .btn-sm;
}
.nav-justified>.nav-item>a.nav-link {
  display: block !important;
}
.nav-item.tab-primary>a.nav-link {
  @extend .btn;
  @extend .btn-primary;
}
.nav-item.tab-secondary>a.nav-link {
  @extend .btn;
  @extend .btn-secondary;
}
.nav-item.tab-success>a.nav-link {
  @extend .btn;
  @extend .btn-success;
}
.nav-item.tab-info>a.nav-link {
  @extend .btn;
  @extend .btn-info;
}
.nav-item.tab-warning>a.nav-link {
  @extend .btn;
  @extend .btn-warning;
}
.nav-item.tab-danger>a.nav-link {
  @extend .btn;
  @extend .btn-danger;
}

/* Text Editor */
quill-editor.form-control {
  padding: 0 !important;
}
quill-editor.form-control>div {
  border: 0 !important;
}
quill-editor.form-control>div.ql-toolbar {
  background: $gray-lighter;
}
