@import "../node_modules/bootstrap/scss/bootstrap";

/* Common */
.jumbotron {
  padding: 2rem 4rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.list-group-item.header{
  background-color: $card-cap-bg;
  font-weight: bold;
}
.list-group>.list-group-item.active{
  background-color: $state-info-bg;
  border-color: $state-info-border;
  color: $state-info-text;
}
tr:first-child > td {
  border-top: 0;
}
rating>span:focus {
  outline: none;
}

/* Forms */
label.col-form-label {
  text-align: right;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 4px solid $btn-success-border; /* green */
}
.ng-invalid:not(form)  {
  border-left: 4px solid $btn-danger-border; /* red */
}

/* Accordion */
accordion .card-title {
  margin-bottom: 0 !important;
}

/* Tabs */
.nav-item.tab-sm>a.nav-link {
  @extend .btn-sm;
}
.nav-justified>.nav-item>a.nav-link {
  display: block !important;
}
.nav-item.tab-primary>a.nav-link {
  @extend .btn;
  @extend .btn-primary;
}
.nav-item.tab-secondary>a.nav-link {
  @extend .btn;
  @extend .btn-secondary;
}
.nav-item.tab-success>a.nav-link {
  @extend .btn;
  @extend .btn-success;
}
.nav-item.tab-info>a.nav-link {
  @extend .btn;
  @extend .btn-info;
}
.nav-item.tab-warning>a.nav-link {
  @extend .btn;
  @extend .btn-warning;
}
.nav-item.tab-danger>a.nav-link {
  @extend .btn;
  @extend .btn-danger;
}

/* Button Groups */
// Justified variants
.btn-group-fill {
  display: flex;
  .btn {
    flex: 1 1 auto;
    text-align: center;
  }
}

.btn-group-justified {
  display: flex;
  .btn {
    flex: 1 1 100%;
    text-align: center;
  }
}

/*Pagination */
//Justified
.pagination-justified {
  width: 100%;
  display: flex;
  .page-item {
    flex: 1 1 100%;
    text-align: center;
  }
}

/* Text Editor */
quill-editor.form-control {
  padding: 0 !important;
  min-height: 400px;
}
quill-editor.form-control>div {
  border: 0 !important;
}
quill-editor.form-control>div.ql-toolbar {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.125) !important;
}
