<span [ngSwitch]="status">
  <span *ngSwitchCase="challengeStatus.NotStarted"
        class="badge badge-primary px-2"
        title="Не начато">
    <i class="fa fa-play fa-fw"></i>
  </span>
  <span *ngSwitchCase="challengeStatus.InProgress"
        class="badge badge-info px-2"
        title="В процессе решения">
    <i class="fa fa-play fa-fw"></i>
  </span>
  <span *ngSwitchCase="challengeStatus.Completed"
        class="badge badge-success px-2"
        title="Есть успешное решение">
    <i class="fa fa-check fa-fw"></i>
  </span>
</span>
