<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div class="jumbotron">
    <h1 class="display-3">Создать задачу</h1>
    <p class="lead">На этой странице Вы можете создать новую задачу для нашего сообщества</p>
  </div>

  <tabset type="tabs">

    <tab heading="Параметры" class="py-3">
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control required" id="name" formControlName="name">
            <div *ngIf="displayErrors('name')" class="text-danger">
              <div *ngIf="displayError('name', 'required')">Укажите название задачи</div>
              <div *ngIf="displayError('name', 'minlength')">Слишком короткое название</div>
              <div *ngIf="displayError('name', 'maxlength')">Слишком длинное название</div>
            </div>
          </div>

          <div class="form-group">
            <label for="abstract">Аннотация</label>
            <textarea class="form-control required" id="abstract" formControlName="shortDescription">
            </textarea>
            <div *ngIf="displayErrors('shortDescription')" class="text-danger">
              <div *ngIf="displayError('shortDescription', 'required')">Напишите краткое описание задачи</div>
              <div *ngIf="displayError('shortDescription', 'minlength')">Слишком короткая аннотация</div>
              <div *ngIf="displayError('shortDescription', 'maxlength')">Слишком длинная аннотация</div>
            </div>
          </div>

          <div class="form-group">
            <label>Ключевые слова</label>
            <app-tag-picker [(tags)]="challenge.tags"></app-tag-picker>
          </div>

          <div class="form-group w-100">
            <label>Сложность</label>
            <div>
              <div class="btn-group btn-group-justified">
                <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="challenge.difficulty" [btnRadio]="1">
                  1 <i class="fa fa-asterisk"></i>
                </label>
                <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="challenge.difficulty" [btnRadio]="2">
                  2 <i class="fa fa-asterisk"></i>
                </label>
                <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="challenge.difficulty" [btnRadio]="3">
                  3 <i class="fa fa-asterisk"></i>
                </label>
                <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="challenge.difficulty" [btnRadio]="4">
                  4 <i class="fa fa-asterisk"></i>
                </label>
                <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="challenge.difficulty" [btnRadio]="5">
                  5 <i class="fa fa-asterisk"></i>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group w-100">
            <label>Комментарии</label>
            <div class="btn-group btn-group-fill">
              <label class="btn btn-outline-success" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="challenge.details.commentAccess" [btnRadio]="accessOption.allow">Разрешить</label>
              <label class="btn btn-outline-info" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="challenge.details.commentAccess" [btnRadio]="accessOption.solvedOnly">Только после решения</label>
              <label class="btn btn-outline-danger" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="challenge.details.commentAccess" [btnRadio]="accessOption.deny">Запретить</label>
            </div>
          </div>

          <div class="form-group w-100">
            <label>Открытые решения</label>
            <div class="btn-group btn-group-fill">
              <label class="btn btn-outline-success" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="challenge.details.shareAccess" [btnRadio]="accessOption.allow">Разрешить</label>
              <label class="btn btn-outline-info" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="challenge.details.shareAccess" [btnRadio]="accessOption.solvedOnly">Только после решения</label>
              <label class="btn btn-outline-danger" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="challenge.details.shareAccess" [btnRadio]="accessOption.deny">Запретить</label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                Придумайте <b>название</b> и <b>аннотацию</b> (краткое описание) к задаче.
                Более полное описание можно написать на следующей странице.
              </p>
              <p>
                С помощью <b>ключевых слов</b> обозначьте тематику задачи.
                Постарайтесь использовать существующие слова, но при желании можно создать новые.
              </p>
              <p>
                Выберите <b>сложность</b> на свое усмотрение. После сложность будет пересчитана по оценкам пользователей.
              </p>
              <p>
                Если не хотите, чтобы пользователи могли узнать решение раньше времени,
                ограничьте доступ к <b>коментариям</b> и <b>открытым решениям</b>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Описание" class="py-3">
      <div class="row">
        <div class="col-8">
          <quill-editor [formControl]="form.controls['fullDescription']"
                        [config]="{placeholder: 'Напишите подробное описание здесь'}"
                        class="form-control required">
          </quill-editor>
          <div *ngIf="displayErrors('fullDescription')" class="text-danger">
            <div *ngIf="displayError('fullDescription', 'required')">Напишите полное описание задачи</div>
            <div *ngIf="displayError('fullDescription', 'minlength')">Слишком короткое описание</div>
            <div *ngIf="displayError('fullDescription', 'maxlength')">Слишком длинное описание</div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                Напишите <b>подробное описание</b> задачи от 100 до 5000 символов.
              </p>
            </div>
          </div>
          <!--<div class="card">-->
            <!--<div class="card-header">-->
              <!--<i class="fa fa-image"></i>-->
              <!--<span> Изображения</span>-->
            <!--</div>-->
            <!--<div class="card-block">-->
              <!--<button type="button" class="btn btn-secondary btn-sm">-->
                <!--<i class="fa fa-upload"></i>-->
                <!--<span> Добавить</span>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </tab>

    <tab heading="Тесты" (select)="openSolutionTest()" class="py-3">
      <div class="row">
        <div class="col-8">
          <ace-editor class="form-control"
                      #solutionTestEditor
                      [(text)]="challenge.details.unitTest"
                      [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
          </ace-editor>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                Чтобы добавить <b>тест</b>, напишите публичный нестатичный метод
                без параметров и пометьте его аннотацией <code>@Test</code>
              </p>
              <p>
                Проверьте результат с помощью класса
                <a href="http://junit.sourceforge.net/javadoc/org/junit/Assert.html">org.junit.Assert</a>.
                Например, вызов <code>Assert.assertEquals(expected, actual)</code> сравнит два объекта и завалит тест, если они не равны.
              </p>
              <p>
                О других возможностях <b>JUnit</b> можно почитать
                <a href="http://junit.org/junit4/">на официальном сайте</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </tab>


    <tab heading="Шаблон решения" (select)="openSolutionTemplate()" class="py-3">
      <div class="row">
        <div class="col-8">
          <ace-editor class="form-control"
                      #solutionTemplateEditor
                      [(text)]="challenge.details.template"
                      [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
          </ace-editor>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                <b>Шаблон</b> послужит основой для всех новых решений пользователей.
              </p>
              <p>
                Объявите все методы, которые пользователь потом должен будет
                реализовать и которые Вы хотите вызывать в тестах.
              </p>
              <p>
                Шаблон должен <u>компилироваться</u> без ошибок,
                но должен <u>не проходить</u> тесты.
              </p>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3"
                  (click)="testTemplate()" [disabled]="submitted">
            <i *ngIf="submitted!='template'" class="fa fa-play"></i>
            <i *ngIf="submitted=='template'" class="fa fa-spinner fa-pulse"></i>
            <span> Протестировать</span>
          </button>
        </div>
      </div>
    </tab>

    <tab heading="Пример решения" (select)="openSolutionExample()" class="py-3">
      <div class="row">
        <div class="col-8">
          <ace-editor class="form-control"
                      #solutionExampleEditor
                      [(text)]="challenge.details.sample"
                      [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
          </ace-editor>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                <b>Пример решения</b> нужен, чтобы убедиться, что у задачи вообще есть решение.
              </p>
              <p>
                Ваше решение будет сохранено и задача сразу будет решенной.
                Также Вы сможете потом опубликовать свое решение.
              </p>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3"
                  (click)="testExample()" [disabled]="submitted">
            <i *ngIf="submitted!='example'" class="fa fa-play"></i>
            <i *ngIf="submitted=='example'" class="fa fa-spinner fa-pulse"></i>
            <span> Протестировать</span>
          </button>
        </div>
      </div>
    </tab>

    <tab class="py-3" [disabled]="!testResults"
         [active]="testResultsActive" (deselect)="testResultsActive = false">
      <template tabHeading>
        <span [title]="testResults ? '' : 'Запустите тестирование, чтобы увидеть результаты'">Результаты тестов</span>
      </template>
      <app-test-results-table [testResults]="testResults" class="card"></app-test-results-table>
    </tab>
  </tabset>

  <div>
    <button class="btn btn-lg btn-success mb-3"
            [title]="form.valid ? '' : 'Параметры не заполнены или заполнены неправильно'"
            [disabled]="!form.valid || submitted">
      <i *ngIf="submitted!='create'" class="fa fa-plus"></i>
      <i *ngIf="submitted=='create'" class="fa fa-spinner fa-pulse"></i>
      <span> Создать задачу</span>
    </button>
  </div>
</form>
