<form (ngSubmit)="onSubmit()" #createChallengeForm="ngForm" novalidate>

  <div class="jumbotron">
    <h1 class="display-3">Создать задачу</h1>
    <p class="lead">На этой странице Вы можете создать новую задачу для нашего сообщества</p>
  </div>

  <tabset type="tabs">

    <tab heading="Параметры" class="py-3">

      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control"
               id="name" name="name" #name="ngModel" [(ngModel)]="model.name"
               required minlength="4" maxlength="50" pattern="[a-zA-Zа-яА-Я0-9\-._ ]+">
        <div *ngIf="name.errors && (name.dirty || name.touched)"
             class="text-danger">
          <div [hidden]="!name.errors['required']">Укажите название задачи</div>
          <div [hidden]="!name.errors['minlength']">Слишком короткое название</div>
          <div [hidden]="!name.errors['pattern']">Название содержит недопустимые символы</div>
        </div>
      </div>

      <div class="form-group">
        <label for="abstract">Аннотация</label>
        <textarea class="form-control"
                  id="abstract" name="abstract" #abstract="ngModel" [(ngModel)]="model.abstract"
                  required minlength="50" maxlength="300"></textarea>
        <div *ngIf="abstract.errors && (abstract.dirty || abstract.touched)"
             class="text-danger">
          <div [hidden]="!abstract.errors['required']">Напишите краткое описание задачи</div>
          <div [hidden]="!abstract.errors['minlength']">Слишком короткая аннотация</div>
        </div>
      </div>

      <div class="form-group">
        <label>Ключевые слова</label>
        <app-tag-picker [(tags)]="model.tags"></app-tag-picker>
      </div>

      <div class="form-group w-50">
        <label>Сложность</label>
        <div>
          <div class="btn-group btn-group-justified">
            <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="model.difficulty" [btnRadio]="1">
              1 <i class="fa fa-asterisk"></i>
            </label>
            <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="model.difficulty" [btnRadio]="2">
              2 <i class="fa fa-asterisk"></i>
            </label>
            <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="model.difficulty" [btnRadio]="3">
              3 <i class="fa fa-asterisk"></i>
            </label>
            <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="model.difficulty" [btnRadio]="4">
              4 <i class="fa fa-asterisk"></i>
            </label>
            <label class="btn btn-outline-primary" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="model.difficulty" [btnRadio]="5">
              5 <i class="fa fa-asterisk"></i>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group w-50">
        <label>Комментарии</label>
        <div class="btn-group btn-group-fill">
          <label class="btn btn-outline-success" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.commentAccess" [btnRadio]="accessOption.allow">Разрешить</label>
          <label class="btn btn-outline-info" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.commentAccess" [btnRadio]="accessOption.solvedOnly">Только после решения</label>
          <label class="btn btn-outline-danger" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.commentAccess" [btnRadio]="accessOption.deny">Запретить</label>
        </div>
      </div>

      <div class="form-group w-50">
        <label>Публичные решения</label>
        <div class="btn-group btn-group-fill">
          <label class="btn btn-outline-success" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.sharedSolutionAccess" [btnRadio]="accessOption.allow">Разрешить</label>
          <label class="btn btn-outline-info" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.sharedSolutionAccess" [btnRadio]="accessOption.solvedOnly">Только после решения</label>
          <label class="btn btn-outline-danger" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.sharedSolutionAccess" [btnRadio]="accessOption.deny">Запретить</label>
        </div>
      </div>

    </tab>

    <tab heading="Описание" class="py-3">
      <div class="row">
        <div class="col-8">
          <quill-editor [(ngModel)]="model.description"
                        [ngModelOptions]="{standalone: true}"
                        class="form-control required">
          </quill-editor>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-image"></i>
              <span> Изображения</span>
            </div>
            <div class="card-block">
              <!--TODO: add attachments control-->
              <button type="button" class="btn btn-secondary btn-sm">
                <i class="fa fa-upload"></i>
                <span> Добавить</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Шаблон решения" (select)="openSolutionTemplate()" class="py-3">
      <div class="row">
        <div class="col-8">
          <ace-editor class="form-control"
                      #solutionTemplateEditor
               [(text)]="model.solutionTemplate"
          [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
          </ace-editor>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                Шаблон послужит основой для всех новых решений пользователей.
              </p>
              <p>
                Объявите все методы, которые пользователь потом должен будет
                реализовать и которые Вы хотите вызывать в тестах.
              </p>
              <p>
                Шаблон должен компилироваться без ошибок и должен не проходить тесты.
              </p>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Тесты" (select)="openSolutionTest()" class="py-3">
      <div class="row">
        <div class="col-8">
          <ace-editor class="form-control"
                      #solutionTestEditor
                      [(text)]="model.solutionTest"
                      [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
          </ace-editor>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                Чтобы добавить тест, напишите публичный нестатичный метод
                без параметров и пометьте его аннотацией <code>@Test</code>
              </p>
              <p>
                Проверьте результат с помощью класса
                <a href="http://junit.sourceforge.net/javadoc/org/junit/Assert.html">org.junit.Assert</a>.
                Например, вызов <code>Assert.assertEquals(expected, actual)</code> сравнит два объекта и завалит тест, если они не равны.
              </p>
              <p>
                О других возможностях <b>JUnit</b> можно почитать
                <a href="http://junit.org/junit4/">на официальном сайте</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Пример решения" (select)="openSolutionExample()" class="py-3">
      <div class="row">
        <div class="col-8">
          <ace-editor class="form-control"
                      #solutionExampleEditor
                      [(text)]="model.solutionExample"
                      [mode]="'java'" [theme]="'dreamweaver'" [options]="options">
          </ace-editor>
        </div>
        <div class="col-4">

          <button type="button" class="btn btn-lg btn-block btn-primary mb-3"
                  (click)="testSolution()" [disabled]="submitted">
            <i class="fa fa-play"> </i>
            <span> Протестировать</span>
          </button>

          <div class="card">
            <div class="card-header">
              <i class="fa fa-question"></i>
              <span> Помощь</span>
            </div>
            <div class="card-block text-justify">
              <p>
                Пример решения нужен, чтобы убедиться, что у задачи вообще есть решение.
              </p>
              <p>
                Ваше решение будет сохранено и задача сразу будет решенной.
                Также Вы сможете потом опубликовать свое решение.
              </p>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab class="py-3" [disabled]="!testResults"
         [active]="testResultsActive" (deselect)="testResultsActive = false">
      <template tabHeading>
        <span [title]="testResults ? '' : 'Запустите тестирование, чтобы увидеть результаты'">Результаты тестов</span>
      </template>
      <app-test-results-table [testResults]="testResults" class="card"></app-test-results-table>
    </tab>
  </tabset>

  <div>
    <button class="btn btn-lg btn-success mb-3"
            [title]="createChallengeForm.form.valid ? '' : 'Параметры не заполнены или заполнены неправильно'"
            [disabled]="!createChallengeForm.form.valid || submitted">
      <i class="fa fa-plus"> </i>
      <span> Создать задачу</span>
    </button>
  </div>
</form>
