<div class="jumbotron">
  <h1 *ngIf="challenge" class="display-3">
    <a class="fa fa-chevron-left" [routerLink]="['/challenges/', challenge.id]"></a>
    {{challenge.name}}
  </h1>
  <p *ngIf="solution" class="lead">
    <span>Решение от пользователя</span>
    <app-user-link [user]="challenge.author"></app-user-link>
  </p>
  <h1 *ngIf="!challenge" class="display-3">Загрузка...</h1>
</div>
<tabset>
  <tab heading="Решение" class="py-3">
    <div class="row">
      <div class="col-md-8">
        <div *ngIf="!solution" class="text-center alert alert-info lead">
          <i class="fa fa-spinner fa-pulse"></i>
          <span> Загрузка...</span>
        </div>
        <ace-editor [hidden]="!solution?.implementation"
             class="form-control"
             [readOnly]="true"
             [mode]="'java'"
             [theme]="'dreamweaver'"
             [options]="options">
        </ace-editor>
        <div *ngIf="solution && !solution.implementation"
             class="alert alert-warning lead description d-flex flex-column justify-content-center text-center">
          <p>Вам недоступен просмотр этого решения.</p>
          <p>Решение станет доступно, когда вы сами решите эту задачу.</p>
        </div>
      </div>
      <div class="col-md-4" *ngIf="solution">
        <blockquote class="blockquote mb-3">
          {{solution.comment}}
        </blockquote>
        <div class="card">
          <table class="table mb-0">
            <tr>
              <td>Автор</td>
              <td>
                <app-user-link [user]="solution.author"></app-user-link>
              </td>
            </tr>
            <tr>
              <td>Опубликовано</td>
              <td>{{solution.created | date: 'd MMM yyyy'}}</td>
            </tr>
            <tr>
              <td>Статус</td>
              <td>
                <app-solution-status-view
                  [status]="solution.status">
                </app-solution-status-view>
              </td>
            </tr>
            <tr>
              <td>Рейтинг</td>
              <td>
                <i class="fa fa-thumbs-up"></i>
                <span>{{solution.rating}}</span>
              </td>
            </tr>
          </table>
        </div>
        <button class="btn btn-outline-primary mt-3"
                *ngIf="solution?.implementation"
                (click)="like()"
                [class.active]="solution.liked">
          <i class="fa fa-thumbs-up"></i>
          <span>Мне нравится!</span>
        </button>
      </div>
    </div>
  </tab>
  <tab heading="Результаты тестов" class="py-3"
       [disabled]="!solution?.testResults?.length">
    <div class="card">
      <app-test-results-table [testResults]="solution?.testResults">
      </app-test-results-table>
    </div>
  </tab>
  <tab heading="Задача" class="py-3">
    <div class="row">
      <div class="col-md-8">
        <div [hidden]="challenge" class="lead text-center alert alert-info">
          <i class="fa fa-spinner fa-pulse"></i>
          <span> Загрузка...</span>
        </div>
        <div class="card description" *ngIf="challenge">
          <div class="card-block text-justify" [innerHTML]="challenge.description"></div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="challenge">
        <div class="card mb-3">
          <table class="table mb-0">
            <tbody>
            <tr>
              <td>Автор</td>
              <td>
                <app-user-link [user]="challenge.author"></app-user-link>
              </td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>
                <span>{{challenge.created | date:'d MMM yyyy'}}</span>
              </td>
            </tr>
            <tr >
              <td>Рейтинг</td>
              <td>
                <rating [ngModel]="challenge.rating"
                        [readonly]="true" [max]="5"
                        stateOn="fa fa-star text-warning">
                </rating>
              </td>
            </tr>
            <tr>
              <td>Сложность</td>
              <td>
                <rating [ngModel]="challenge.difficulty"
                        [readonly]="true" [max]="5"
                        stateOn="fa fa-asterisk text-primary">
                </rating>
              </td>
            </tr>
            <tr>
              <td>Просмотры</td>
              <td>
                <span>{{challenge.views}} </span>
                <i class="fa fa-eye"></i>
              </td>
            </tr>
            <tr>
              <td>Успешные решения</td>
              <td [class.text-success]="challenge.status === challengeStatus.Completed">
                <span>{{challenge.completedSolutions}} </span>
                <i class="fa fa-check"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <app-tags-line [tags]="challenge.tags"></app-tags-line>
      </div>
    </div>
  </tab>
</tabset>

<div class="row">
  <div class="col-md-8">
    <tabset type="pills" [justified]="true" *ngIf="solution">
      <tab customClass="tab-sm tab-success pr-2" class="py-3">
        <template tabHeading>
          <i class="fa fa-plus"></i>
          <span> Комментировать</span>
        </template>
        <textarea title="comment" [(ngModel)]="newComment" class="form-control mb-2"></textarea>
        <button type="button" class="btn btn-primary btn-sm"
                [disabled]="!newComment" (click)="sendComment()">
          Оставить комментарий
        </button>
        <button type="button" class="btn btn-secondary btn-sm"
                [disabled]="!newComment" (click)="newComment = ''">
          Отмена
        </button>
      </tab>
      <tab customClass="tab-sm tab-info px-2" class="py-3"
           [disabled]="!solution.comments && !comments?.length" (select)="loadComments()">
        <template tabHeading>
          <span>Комментарии </span>
          <i class="fa fa-comments"></i>
          <span> {{comments?.length || solution.comments || 0}}</span>
        </template>
        <app-comments [comments]="comments" (commentLiked)="commentLiked($event)"></app-comments>
      </tab>
    </tabset>
  </div>
</div>
